<!DOCTYPE html>
{% load static %}
<html>
<head>
    <script src="{% static 'js/jquery-1.11.2.js' %}"></script>
    <script src="{% static 'js/jqmeter.min.js' %}"></script>
    <style type="text/css">
        #logoutput {overflow:scroll; white-space:nowrap;}
    </style>
</head>
<body>
<div id="procPer"></div>
<div id="jqmeter-container"></div>
<span id="app_name" style="visibility:hidden">{{ app_name }}</span>
<span id="deploy_version" style="visibility:hidden">{{ deploy_version }}</span>
<span id="env_name" style="visibility:hidden">{{ env_name }}</span>
<span id="operation_no" style="visibility:hidden">{{ operation_no }}</span>
<div id="logoutput" style="background:#000; color:#FFF">...</div>
</body>
<script>
    {% include "wslog/websocket.js" %}
</script>
</html>